/* stylelint-disable */

@import "./variables";
@import "./mixins";
@import "./reset";
@import "./keyframes";

html,
body {
    font-family: $fontFamilyMincho;
    color: $colorWhite;
    letter-spacing: 0.02em;
    background: $colorBlack;
    word-spacing: 1px;
    font-feature-settings: "palt";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

pre {
    font-family: $fontFamilyMono;
    font-weight: $fontWeightNormal;
}

@include notSp {
    .-hidden-pc {
        display: none !important;
    }
}

@include sp {
    .-hidden-sp {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@import "./article";
@import "./prism";
